body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.calculator-btn {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

/* Style khusus untuk tombol equal */
#equal-btn {
    width: 105px; /* 2x lebar tombol standar + margin */
    height: 50px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}